.sidebar-container {
    min-width: 300px;
    max-width: 500px;
    background-color: black;
    height: 100vh;
    color: white;
}

#title {
    display: flex;
    flex-direction: row;
    color: white;
}

#nav {
    display: flex;
    flex-direction: column;
}

#curr-profile {
    display: flex;
    flex-direction: row;
    margin-left: 2em;
    margin-bottom: 2em;
    position: absolute;
    bottom: 0;

    #profile-sidebar {
        display: flex;
        flex-direction: column;

        p {
            margin-top: 0;
            margin-bottom: -0;
            margin-left: 1em;
        }
    }
}